.Home {
  &__Header {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    &__Text {
      width: 36%;
      margin-top: 70px;
    }
    &__Buttons {
      display: flex;
      margin-top: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    &__Image {
      width: 53%;
      border-radius: 50px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .Home {
    &__Header {
      flex-direction: column;
      margin-top: 15px;
      &__Text {
        margin-top: 0;
      }
      &__Image {
        margin-top: 30px;
        border-radius: 15px;
      }
      & > * {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}